// Place all the styles related to the comentarios controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#comentarios {
display: inline-block;
/*border: solid black 1px;
border-radius: 5px;*/
}
 
#comentarios p {
text-indent: 10px;
margin-left: 10px;
}
 
form {
margin-left: 20px;
}
 
form label {
display: none;
}
 
textarea {
width: 200px;
height: 75px;
border-radius: 10px;
border-bottom-left-radius: 0;
border-bottom-right-radius: 0;
}
 
form input[type="submit"]{
display: block;
margin-top: -5px;
width: 206px;
border-bottom-left-radius: 10px;
border-bottom-right-radius: 10px;
background-color: #ccd;
border: solid black 1px;
}
 
form input[type="submit"]:hover {
background-color: #aad;
}
